h2 {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
h2 {
    color: rgb(201, 94, 7);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}