* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;
    background: #0a0f1b;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.7;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1535713875002-d1d0cf377fde")
        center/cover no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(10, 15, 27, 0.7);
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    top: 18%;
}

.hero-content h1 {
    font-size: 70px;
    font-weight: 700;
}

.subtext {
    margin: 15px 0;
    font-size: 20px;
    opacity: 0.9;
}

.subtext span {
    margin: 0 12px;
    text-transform: uppercase;
}

.btn {
    margin-top: 20px;
    background: #c162ff;
    border: none;
    padding: 14px 36px;
    font-size: 18px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #a049db;
}

.learn-text {
    margin-top: 80px;
    font-size: 26px;
    font-weight: 600;
    color: #c9a6ff;
}

/* PROS SECTION */
.pros {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.pro {
    text-align: center;
}

.pro img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.2);
}

.pro h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.pro p {
    margin-top: 5px;
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.4;
}
